* {
    user-select: none;
}

button {
    background: blue;
    border: none;
    margin: .5em;
    color: #fff;
    border-radius: .5em;
    width: 40%;
    padding: .8em;
    outline: none;
}

button:hover {
    box-shadow: 0 0 5px 0 #000;
}