* {
    user-select: none;
}

button {
    background: blue;
    border: none;
    padding: .8em 1.5em;
    margin: .5em;
    color: #fff;
    border-radius: .5em;
    transition: all 0.1s linear;
    width: 40%;
}