* {
    user-select: none;
}

.question-tab {
    border: 1px solid black;
    padding: 5%;
    box-shadow: 0 0 0 0 black;
}

button {
    background: blue;
    border: none;
    margin: .5em;
    color: #fff;
    border-radius: .5em;
    width: 40%;
    height: 20%;
    padding: .8em;
    outline: none;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 5px 0 #000;
}

.disabled-btn:hover {
    box-shadow: 0 0 0 0 #000;
}

.disabled-btn {
    background: grey;
    cursor: default;
}

.options-label {
    background: #eee;
    padding: 1%;
    cursor: pointer
}

.options-label:hover {
    background: #888;
    color: white;
}

.ques-panel-span {
    padding: .4em;
    border: 1px solid black;
    margin: 2%;
    text-align: center;
    font-size: 1.2em;
    height: 1.1em;
    float: left;
    width: 20px;
}

.ques-panel-button {
    cursor: pointer;
    padding: .4em;
    border: 1px solid black;
    margin: 2%;
    text-align: center;
    font-size: 1.2em;
    height: 1.1em;
    float: left;
    width: 20px;
}

.ques-panel-button:hover {
    background: #ddd;
}

.submission-block {
    background-color: #ddd;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.submission-block > div {
    width: 30%;
    text-align: center;
    background: #fff;
    height: 35%;
    border: 1px solid #999;
    border-radius: 3px;
    min-height: 135px;
    overflow-y: auto;
}

.submission-block > div > div {
    width: 74%;
    margin: 8% auto;
    text-align: left;
    border: 1px solid #999;
    padding: 0 3%;
    background: #ddd;
}

.submission-block > div > div div {
    margin: 2% auto;
}